<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>APEZ | Coming Soon</title>
	<!-- Favicon Icon -->
	<link rel="icon" type="image/x-icon" href="images/favicon.png" />
	<!-- Meta Description Tag -->
	<meta name="Description" content="APEZ - Responsive Multi-Purpose HTML5 Template">
	<!-- Favicon Icon -->
	<link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
	
	<div class="coming-soon">
		<div class="content">
			<div class="text-center">
				<a href="#" class="logo"><img src="images/logo.png" alt=""></a>
			</div>
			<div class="heading">
				<h1>Coming Soon!</h1>
			</div>
			<div id="timer"></div>
			<ul class="social-list">
				<li>
					<a href="#"><i class="fab fa-facebook"></i></a>
				</li>
				<li>
					<a href="#"><i class="fab fa-twitter"></i></a>
				</li>
				<li>
					<a href="#"><i class="fab fa-google"></i></a>
				</li>
				<li>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</li>
				<li>
					<a href="#"><i class="fab fa-youtube"></i></a>
				</li>
				<li>
					<a href="#"><i class="fab fa-linkedin"></i></a>
				</li>
				<li>
					<a href="#"><i class="fab fa-flickr"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-rss" ></i></a>
				</li>
			</ul>
		</div>
	</div>


	<!-- **********Included Scripts*********** -->

	<!-- Jquery Library 2.1 JavaScript-->
	<script src="assets/plugin/jquery/jquery-2.1.4.min.js"></script>
	<script src="assets/plugin/timezz/jquery.timezz.js"></script>
	<script>
		$('#timer').timezz({
			'date' : 'July 1, 2018 00:00:00'
		});
	</script>
</body>
</html>