.blogs {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 100%;
    margin-left: 30px;
    margin-top: 20px;
    position: inherit;
    text-decoration: none;
    width: 880px;
}
div.screenlet-body {
/*     background-color: #EEEEEE; */
/*     border: thin solid #CCCCCC; */
    display: block;
    height: auto !important;
    padding: 0.4em;
}
.basic-table tr.header-row, .basic-table tr.header-row-2 {
    background: url("../awsimages/bkgd_subheader.gif") repeat-x scroll center bottom transparent;
    text-transform: uppercase;
}
table.basic-table {
    width: 100%;
    color: #155392;
}
form .basic-table, .screenlet-body .basic-table {
    margin-bottom: 0;
}

.blogs table.basic-table tr td {
    padding:  5px 10px 15px 2px;
}

.blogs #BlogContent_dataResourceId_title{
    display: none;
}
.blogs .fromDate, .blogs #BlogContent_fromDate_title {
    float: right;
}

div.bloghr:first-child {
    background: none repeat scroll 0 0 #A4C8ED;
    border: 0.1em solid #999999;
    float: left;
    height: 25px;
    padding: 10px 5px 0;
    width: 868px;
}
.leftjustify {
    display: inline;
    float: left;
    vertical-align: text-top;
    margin-right: 10px;
    padding-bottom: 15px;
}

.rightjustify {
    display: inline;
    float: right;
    vertical-align: text-top;
}
.blogtitle, A.blogtitle {
    float: left;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.blogs div a.buttontext {
    float: right;
}

.blogcontentwrapper {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #EBE9E9;
    float: left;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    overflow: auto;
    padding: 5px;
    text-align: left;
    width: 868px;
}

.blogcontentwrapper ol{
	padding-left: 50px;
}

.floatleft {
    display: inline;
    position: relative;
    vertical-align: text-top;
}

.floatleft img {
    width: 220px;
    padding: 0 20px 15px 0;
}

.blogs div div.responsetext {
    border-bottom: 0 none;
    padding: 3px;
}
.blogcontentwrapper .responsetext {
    text-align: right;
}
.responsetext {
    color: #222222;
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 20px;
    text-align: left;
}

img {
    display: inline-block;
    vertical-align: bottom;
}

.bloghr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 0.1em solid #999999;
    float: left;
    padding: 5px;
    width: 868px;
}
.fieldgroup-body table {
    text-align: center;
    width: 100%;
}

.basic-table .alternate-row {
	
    color: #7f7f7f;
    font-size: 15px;
}
.screenlet{
    margin-top: 50px;
}

/*------------New edit---------------- */
/* navigator button*/
ul li.nav-first-disabled span{
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#6B6FBE;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

ul li.nav-previous-disabled span{
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#6B6FBE;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

ul li.nav-next a{
    float: left;
    color:#000;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#000793;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

.nav-next :hover {
    text-decoration:none;
}

ul li.nav-last a{
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#000793;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

.nav-last :hover {
    text-decoration:none;
}

ul li.nav-first a{
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#000793;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
    
}

.nav-first :hover {
    text-decoration:none;
}

ul li.nav-previous a{
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#000793;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

.nav-previous :hover {
    text-decoration:none;
}

ul li.nav-next-disabled span{
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#6B6FBE;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

ul li.nav-last-disabled span{
    
    float: left;
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#6B6FBE;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
    margin : 2px;
}

ul li.nav-displaying{
    margin-top: 1px;
    padding: 2px;
    margin: 1px;
    
}
/*    end navigator button*/

.basic-table .alternate-row2{
     background-color: red;
}

.blogtitle-blue, A.blogtitle-blue {
    color:black;
    font-size:18px;
    font-family: 'Domine', serif;
}

.blogtitle-date, A.blogtitle-date {
    color: #2f2b2a;
    text-align:right;
    font-size:15px;
    font-family: 'Domine', serif;
}

.nav-pager{
    text-align: right;
    margin-top:-20px ;
    margin-bottom:20px ;
    padding: 0px;
    topmargin:0;
    vertical-align: top;
}
.header-row-blog{
    font-family: 'Domine', serif;
    font-size: 24px;
    color: #2f2b2a;
    text-shadow:0 1px 2px #c4c1bd;
}

.bloghr-blue{
    font-family: 'Domine', serif;
    font-size: 20px;
    color: #2f2b2a;
}

.blogtitle-underline{
    background-image:url("../awsimages/bgUnderline.jpg") ;
    background-repeat:no-repeat;
    background-position:bottom ;
}

.leftjustify a{
    border-radius:10px;
    font-size:12px;
    line-height:17px;
    margin-bottom:2px;
    padding:4px 10px 3px;
    color:#fcf5e6;
    background-color:#000793;
    text-shadow:0 1px 1px #05131F;
    font-family: 'Domine', serif;
    display:inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

.leftjustify a:hover{
    text-decoration:none;,0.1);
}

.highlightit:hover img{
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
        min-width: 100%;
        min-height: 100%;
        overflow: hidden;
        display: block;
        margin: auto;
        position:absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
    }

.highlightit img{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: block;
    margin: auto;
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.container {
    width: 98%;
    height: 280px;
    overflow: hidden;
    background-color: #F4F4F4;
    border-bottom: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin: 10px 10px 0 0;
}

.listLi{
    width: 33%;
    display:inline-block;
}

.ImgContainer {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.ImgContainer img{
    height: 70%;
}

.NameContainer{
    height: 20%;
    overflow: hidden;
    font-size: 120%;
}

.timeContainer{
    height: 10%;
}
