<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title>APEZ - Responsive Multi-Purpose HTML5 Template</title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="APEZ - Responsive Multi-Purpose HTML5 Template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="../images/favicon.png" />
    <!-- Material Design Lite Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/material/material.min.css" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/material/mdl-selectfield.min.css">
    <!-- Animteheading Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/animateheading/animateheading.min.css" />
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/owl_carousel/owl.carousel.min.css" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/animate/animate.min.css" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/magnific_popup/magnific-popup.min.css" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="../assets/plugin/flexslider/flexslider.min.css" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">
</head>
<body>

    <div class="wrapper">
        <!-- Start Header Section -->
        <header id="header" class="header-dark">
            <div class="layer-stretch hdr">
                <div class="tbl animated fadeInDown">
                    <div class="tbl-row">
                        <!-- Start Header Logo Section -->
                        <div class="tbl-cell hdr-logo">
                            <a href="../index.html"><img src="../images/logo.png" alt=""></a>
                        </div><!-- End Header Logo Section -->
                        <div class="tbl-cell hdr-menu">
                            <!-- Start Menu Section -->
                            <ul class="menu">
                                <li class="menu-megamenu-li">
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect">Home <i class="fa fa-chevron-down"></i></a>
                                    <ul class="menu-megamenu menu-megamenu-small">
                                        <li class="row">
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li><a href="../index.html">Home Style 1</a></li>
                                                    <li><a href="../index-1.html">Home Style 2</a></li>
                                                    <li><a href="../index-2.html">Home Style 3</a></li>
                                                    <li><a href="../index-3.html">Home Style 4</a></li>
                                                    <li><a href="../index-4.html">Home Style 5</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li><a href="../index-5.html">Home Style 6</a></li>
                                                    <li><a href="../index-6.html">Home Style 7</a></li>
                                                    <li><a href="../index-7.html">Home Style 8</a></li>
                                                    <li><a href="../index-8.html">Home Style 9</a></li>
                                                    <li><a href="../index-9.html">Home Style 10</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul>
                                                    <li><a href="../index-ecommerce.html">Home E-commerce</a></li>
                                                    <li><a href="../index-law.html">Home Law firm</a></li>
                                                    <li><a href="../index-property.html">Home Property</a></li>
                                                    <li><a href="../index-listing.html">Home Listing</a></li>
                                                </ul>
                                            </div>
                                        </li> 
                                    </ul>
                                </li>
                                <li>
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect">Feature <i class="fa fa-chevron-down"></i></a>
                                    <ul class="menu-dropdown">
                                        <li>
                                            <a>Property</a>
                                            <ul class="menu-dropdown">
                                                <li><a href="../property-1.html">Property Listing 1</a></li>
                                                <li><a href="../property-2.html">Property Listing 2</a></li>
                                                <li><a href="../property-3.html">Property Listing 3</a></li>
                                                <li><a href="../property-page.html">Property Page</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Page Header</a>
                                            <ul class="menu-dropdown">
                                                <li><a href="../page-header-1.html">Page Header 1</a></li>
                                                <li><a href="../page-header-2.html">Page Header 2</a></li>
                                                <li><a href="../page-header-3.html">Page Header 3</a></li>
                                                <li><a href="../page-header-4.html">Page Header 4</a></li>
                                                <li><a href="../page-header-5.html">Page Header 5</a></li>
                                                <li><a href="../page-header-6.html">Page Header 6</a></li>
                                                <li><a href="../page-header-7.html">Page Header 7</a></li>
                                                <li><a href="../page-header-8.html">Page Header 8</a></li>
                                                <li><a href="../page-header-9.html">Page Header 9</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Page Footer</a>
                                            <ul class="menu-dropdown menu-dropdown-left">
                                                <li><a href="../page-footer-1.html">Page Footer 1</a></li>
                                                <li><a href="../page-footer-2.html">Page Footer 2</a></li>
                                                <li><a href="../page-footer-3.html">Page Footer 3</a></li>
                                                <li><a href="../page-footer-4.html">Page Footer 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Side Panel</a>
                                            <ul class="menu-dropdown">
                                                <li><a href="../side-panel-1.html">Light Side Panel</a></li>
                                                <li><a href="../side-panel-2.html">Dark Side Panel</a></li>
                                                <li><a href="../side-panel-3.html">Colored Side Panel</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../popup.html">Popups</a></li>
                                        <li><a href="../coming-soon.html">Coming Soon</a></li>
                                        <li><a href="../404.html">404 Page Not Found</a></li>
                                        <li><a href="../503.html">503 Temporarily Unavailable</a></li>
                                    </ul>
                                </li>
                                <li class="menu-megamenu-li">
                                    <a id="menu-pages" class="mdl-button mdl-js-button mdl-js-ripple-effect">Pages <i class="fa fa-chevron-down"></i></a>
                                    <ul class="menu-megamenu">
                                        <li class="row">
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Service Styles</div>
                                                <ul>
                                                    <li><a href="../services-1.html">Services Style 1</a></li>
                                                    <li><a href="../services-2.html">Services Style 2</a></li>
                                                    <li><a href="../services-3.html">Services Style 3</a></li>
                                                    <li><a href="../services-4.html">Services Style 4</a></li>
                                                    <li><a href="../services-5.html">Services Style 5</a></li>
                                                    <li><a href="../services-6.html">Services Style 6</a></li>
                                                    <li><a href="../services-7.html">Services Style 7</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Team Styles</div>
                                                <ul>
                                                    <li><a href="../team-1.html">Team Style 1</a></li>
                                                    <li><a href="../team-2.html">Team Style 2</a></li>
                                                    <li><a href="../team-3.html">Team Style 3</a></li>
                                                    <li><a href="../team-4.html">Team Style 4</a></li>
                                                    <li><a href="../team-5.html">Team Style 5</a></li>
                                                    <li><a href="../team-6.html">Team Style 6</a></li>
                                                    <li><a href="../team-7.html">Team Style 7</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Shop Styles</div>
                                                <ul>
                                                    <li><a href="../shop-1.html">Shop Style 1</a></li>
                                                    <li><a href="../shop-2.html">Shop Style 2</a></li>
                                                    <li><a href="../shop-3.html">Shop Style 3</a></li>
                                                    <li><a href="../shop-4.html">Shop Style 4</a></li>
                                                    <li><a href="../shop-5.html">Shop Style 5</a></li>
                                                    <li><a href="../shop-6.html">Shop Style 6</a></li>
                                                    <li><a href="../shop-7.html">Shop Style 7</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Shop Styles</div>
                                                <ul>
                                                    <li><a href="../shop-8.html">Shop Style 8</a></li>
                                                    <li><a href="../shop-9.html">Shop Style 9</a></li>
                                                    <li><a href="../shop-10.html">Shop Style 10</a></li>
                                                    <li><a href="../shop-page-1.html">Product Page 1</a></li>
                                                    <li><a href="../shop-page-2.html">Product Page 2</a></li>
                                                    <li><a href="../shop-page-3.html">Product Page 3</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Info Pages</div>
                                                <ul>
                                                    <li><a href="../about-1.html">About Us Style 1</a></li>
                                                    <li><a href="../about-2.html">About Us Style 2</a></li>
                                                    <li><a href="../about-3.html">About Us Style 3</a></li>
                                                    <li><a href="../contact-1.html">Contact Us Style 1</a></li>
                                                    <li><a href="../contact-2.html">Contact Us Style 2</a></li>
                                                    <li><a href="../gallery-1.html">Gallery Style</a></li>
                                                    <li><a href="../faq.html">FAQ</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Other Pages</div>
                                                <ul>
                                                    <li><a href="../event-1.html">Event Style 1</a></li>
                                                    <li><a href="../event-2.html">Event Style 2</a></li>
                                                    <li><a href="../event-3.html">Event Style 3</a></li>
                                                    <li><a href="../event-4.html">Event Style 4</a></li>
                                                    <li><a href="../event-page-1.html">Event Details Page</a></li>
                                                    <li><a href="../signin.html">Sign In or Login</a></li>
                                                    <li><a href="../signup.html">Sign Up or Register</a></li>
                                                </ul>
                                            </div>
                                        </li> 
                                    </ul>
                                </li>
                                <li>
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect">Portfolio <i class="fa fa-chevron-down"></i></a>
                                    <ul class="menu-dropdown">
                                        <li>
                                            <a>Portfolio Default</a>
                                            <ul class="menu-dropdown menu-dropdown-left">
                                                <li><a href="../portfolio-1.html">2 Column</a></li>
                                                <li><a href="../portfolio-2.html">3 Column</a></li>
                                                <li><a href="../portfolio-3.html">4 Column</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Portfolio Wide</a>
                                            <ul class="menu-dropdown menu-dropdown-left">
                                                <li><a href="../portfolio-4.html">Wide Portfolio</a></li>
                                                <li><a href="../portfolio-5.html">No Spacing Portfolio</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Portfolio Masonary</a>
                                            <ul class="menu-dropdown menu-dropdown-left">
                                                <li><a href="../portfolio-6.html">3 Column Portfolio</a></li>
                                                <li><a href="../portfolio-7.html">4 Column Portfolio</a></li>
                                                <li><a href="../portfolio-8.html">Wide Portfolio</a></li>
                                                <li><a href="../portfolio-9.html">No Spacing Portfolio</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../portfolio-grid.html">Portfolio Grid</a></li>
                                        <li><a href="../portfolio-list.html">Portfolio List</a></li>
                                    </ul>
                                </li>
                                <li class="menu-megamenu-li">
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect">Blogs <i class="fa fa-chevron-down"></i></a>
                                    <ul class="menu-megamenu menu-megamenu-medium">
                                        <li class="row">
                                            <div class="col-lg-3">
                                                <div class="megamenu-ttl">Blog Grid Sytle</div>
                                                <ul>
                                                    <li><a href="../blogs-1.html">Blog 2 Column</a></li>
                                                    <li><a href="../blogs-2.html">Blog 3 Column</a></li>
                                                    <li><a href="../blogs-3.html">Blog 4 Column</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="megamenu-ttl">Blog List Sytle</div>
                                                <ul>
                                                    <li><a href="../blogs-9.html">Blog List</a></li>
                                                    <li><a href="../blogs-10.html">Blog List Left Sidebar</a></li>
                                                    <li><a href="../blogs-11.html">Blog List Right Sidebar</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="megamenu-ttl">Blog with Sidebar Sytle</div>
                                                <ul>
                                                    <li><a href="../blogs-4.html">Blog 1 Column Right Sidebar</a></li>
                                                    <li><a href="../blogs-5.html">Blog 2 Column Right Sidebar</a></li>
                                                    <li><a href="../blogs-6.html">Blog 3 Column Right Sidebar</a></li>
                                                    <li><a href="../blogs-7.html">Blog 2 Column Left Sidebar</a></li>
                                                    <li><a href="../blogs-8.html">Blog 3 Column Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="megamenu-ttl">Blog Page</div>
                                                <ul>
                                                    <li><a href="../blog-1.html">Blog Detail 1</a></li>
                                                    <li><a href="../blog-2.html">Blog Detail 2</a></li>
                                                </ul>
                                            </div>
                                        </li> 
                                    </ul>
                                </li>
                                <li class="menu-megamenu-li">
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect">Components <i class="fa fa-chevron-down"></i></a>
                                    <ul class="menu-megamenu menu-megamenu-small">
                                        <li class="row">
                                            <div class="col-lg-4">
                                                <div class="megamenu-ttl">Components Link</div>
                                                <ul>
                                                    <li><a href="accordions.html"><i class="icon-plus mr-2"></i> Accordions</a></li>
                                                    <li><a href="alerts.html"><i class="icon-exclamation mr-2"></i> Alerts</a></li>
                                                    <li><a href="badges.html"><i class="icon-badge mr-2"></i> Badge</a></li>
                                                    <li><a href="buttons.html"><i class="icon-star mr-2"></i> Buttons</a></li>
                                                    <li><a href="cards.html"><i class="icon-credit-card mr-2"></i> Cards</a></li>
                                                    <li><a href="dropcap.html"><i class="icon-bulb mr-2"></i> Dropcap</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="megamenu-ttl">Components Link</div>
                                                <ul>
                                                    <li><a href="grid.html"><i class="icon-grid mr-2"></i> Grid</a></li>
                                                    <li><a href="lists.html"><i class="icon-list mr-2"></i> Lists</a></li>
                                                    <li><a href="panels.html"><i class="icon-speedometer mr-2"></i> Panels</a></li>
                                                    <li><a href="pricingtable.html"><i class="fa fa-table mr-2"></i> Pricing Table</a></li>
                                                    <li><a href="progressbars.html"><i class="icon-chart mr-2"></i> Progressbars</a></li>
                                                    <li><a href="sliders.html"><i class="icon-compass mr-2"></i> Sliders</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="megamenu-ttl">Components Link</div>
                                                <ul>
                                                    <li><a href="social-list.html"><i class="icon-list mr-2"></i> Social List</a></li>
                                                    <li><a href="tables.html"><i class="fa fa-table mr-2"></i> Tables</a></li>
                                                    <li><a href="tabs.html"><i class="icon-cursor mr-2"></i> Tabs</a></li>
                                                    <li><a href="typography.html"><i class="icon-tag mr-2"></i> Typography</a></li>
                                                </ul>
                                            </div>
                                        </li> 
                                    </ul>
                                </li>
                                <li>
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect hdr-search" href="#"><i class="fa fa-search"></i></a>
                                </li>
                                <li class="mobile-menu-close"><i class="fa fa-times"></i></li>
                            </ul><!-- End Menu Section -->
                            <div id="menu-bar"><a><i class="fa fa-bars"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="search-bar animated zoomIn">
                    <div class="search-content">
                        <div class="search-input">
                            <input type="text" placeholder="Enter your text ....">
                            <button class="search-btn"><i class="icon-magnifier"></i></button>
                        </div>
                    </div>
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>
            </div>
        </header><!-- End Header Section -->
        <!-- Start Page Title Section -->
        <div class="page-ttl">
            <div class="layer-stretch">
                <div class="page-ttl-container">
                    <h1>Alerts</h1>
                    <p><a href="#">Home</a> &#8594; <a href="#">Components</a> &#8594; <span>Alerts</span></p>
                </div>
            </div>
        </div><!-- End Page Title Section -->
        <!-- Start Button Section -->
        <div class="light-background">
            <div class="layer-stretch">
                <div class="layer-wrapper pb-0">
                    <div class="row pt-4">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-head">
                                    <div class="panel-title">Basic Alerts</div>
                                </div>
                                <div class="panel-wrapper">
                                    <div class="panel-body">
                                        <div class="alert alert-primary" role="alert">
                                            This is a primary alert—check it out!
                                        </div>
                                        <div class="alert alert-secondary" role="alert">
                                            This is a secondary alert—check it out!
                                        </div>
                                        <div class="alert alert-success" role="alert">
                                            This is a success alert—check it out!
                                        </div>
                                        <div class="alert alert-danger" role="alert">
                                            This is a danger alert—check it out!
                                        </div>
                                        <div class="alert alert-warning" role="alert">
                                            This is a warning alert—check it out!
                                        </div>
                                        <div class="alert alert-info" role="alert">
                                            This is a info alert—check it out!
                                        </div>
                                        <div class="alert alert-dark" role="alert">
                                            This is a dark alert—check it out!
                                        </div>
                                        <div class="alert alert-light" role="alert">
                                            This is a light alert—check it out!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-head">
                                    <div class="panel-title">Outline Alerts</div>
                                </div>
                                <div class="panel-wrapper">
                                    <div class="panel-body">
                                        <div class="alert alert-outline alert-primary" role="alert">
                                            This is a primary alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-secondary" role="alert">
                                            This is a secondary alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-success" role="alert">
                                            This is a success alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-danger" role="alert">
                                            This is a danger alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-warning" role="alert">
                                            This is a warning alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-info" role="alert">
                                            This is a info alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-dark" role="alert">
                                            This is a dark alert—check it out!
                                        </div>
                                        <div class="alert alert-outline alert-light" role="alert">
                                            This is a light alert—check it out!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-head">
                                    <div class="panel-title">Dismissible Alerts with Icon</div>
                                </div>
                                <div class="panel-wrapper">
                                    <div class="panel-body">
                                        <div class="alert alert-icon alert-primary alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Brand!</strong> This is a primary alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-secondary alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="far fa-hand-point-up"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Heads up! </strong> This is a secondary alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-success alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Well done!</strong> This is a success alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-danger alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-thermometer"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Oh snap!</strong> This is a danger alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-warning alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Warning!</strong> This is a warning alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-info alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-thumbs-down"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Heads up!</strong> This is a info alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-dark alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Whats up!</strong> This is a dark alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-icon alert-light alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-laptop"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Not Important!</strong> This is a light alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-head">
                                    <div class="panel-title">Dismissible Alerts with Icon</div>
                                </div>
                                <div class="panel-wrapper">
                                    <div class="panel-body">
                                        <div class="alert alert-outline alert-icon alert-primary alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Brand!</strong> This is a primary alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-secondary alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="far fa-hand-point-up"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Heads up! </strong> This is a secondary alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-success alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Well done!</strong> This is a success alert—check it out!
                                            </div>
                                            <div class="alert-button">
                                                <button type="button" class="btn btn-success btn-pill btn-sm close" data-dismiss="alert" aria-label="Close">Dismiss</button>
                                            </div>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-danger alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-thermometer"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Oh snap!</strong> This is a danger alert—check it out!
                                            </div>
                                            <div class="alert-button text-right">
                                                <button type="button" class="btn btn-warning btn-pill btn-sm close" data-dismiss="alert" aria-label="Close">Fix It</button>
                                            </div>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-warning alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Warning!</strong> This is a warning alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-info alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-thumbs-down"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Heads up!</strong> This is a info alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-dark alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Whats up!</strong> This is a dark alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="alert alert-outline alert-icon alert-light alert-dismissible fade show" role="alert">
                                            <div class="alert--icon">
                                                <i class="fa fa-laptop"></i>
                                            </div>
                                            <div class="alert-text">
                                                <strong>Not Important!</strong> This is a light alert—check it out!
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Button Section -->
        <div class="action">
            <div class="layer-stretch">
                <div class="layer-wrapper text-center">
                    <div class="layer-ttl"><h4>We design <span class="text-primary">delightful</span> digital experiences</h4></div>
                    <div class="p-5 color-light">Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design, develop and deploy. Tell Us Your Story</div>
                    <a href="#" class="btn btn-outline btn-primary btn-pill btn-outline-2x btn-lg mt-3">Tell Us Your Story</a>
                </div>
            </div>
        </div><!-- End Action Section -->
        <!-- Start Footer Section -->
        <footer id="footer">
            <div class="layer-stretch">
                <!-- Start main Footer Section -->
                <div class="row layer-wrapper">
                    <div class="col-md-4 footer-block">
                        <div class="footer-ttl"><p>Basic Info</p></div>
                        <div class="footer-container footer-a">
                            <div class="tbl">
                                <div class="tbl-row">
                                    <div class="tbl-cell"><i class="fa fa-map-marker"></i></div>
                                    <div class="tbl-cell">
                                        <p class="paragraph-medium paragraph-white">
                                            Your office, Building Name<br />
                                            Street name, Area<br />
                                            City, Country Pin Code
                                        </p>
                                    </div>
                                </div>
                                <div class="tbl-row">
                                    <div class="tbl-cell"><i class="fa fa-phone"></i></div>
                                    <div class="tbl-cell">
                                        <p class="paragraph-medium paragraph-white">11122333333</p>
                                    </div>
                                </div>
                                <div class="tbl-row">
                                    <div class="tbl-cell"><i class="fa fa-envelope"></i></div>
                                    <div class="tbl-cell">
                                        <p class="paragraph-medium paragraph-white">hello@yourdomain.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-block">
                        <div class="footer-ttl"><p>Quick Links</p></div>
                        <div class="footer-container footer-b">
                            <div class="tbl">
                                <div class="tbl-row">
                                    <ul class="tbl-cell">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-1.html">About</a></li>
                                        <li><a href="event-1.html">Event</a></li>
                                        <li><a href="contact-1.html">Contact</a></li>
                                        <li><a href="portfolio-1.html">Portfolio</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                    <ul class="tbl-cell">
                                        <li><a href="signin.html">Sign In</a></li>
                                        <li><a href="signup.html">Sign Up</a></li>
                                        <li><a href="services-1.html">Services</a></li>
                                        <li><a href="Blogs-1.html">Blogs</a></li>
                                        <li><a href="Blog-1.html">Blog</a></li>
                                        <li><a href="team-1.html">Team</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-block">
                        <div class="footer-ttl"><p>Newsletter</p></div>
                        <div class="footer-container footer-c">
                            <div class="footer-subscribe">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                                    <input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="subscribe-email">
                                    <label class="mdl-textfield__label" for="subscribe-email">Your Email</label>
                                    <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                                </div>
                                <div class="footer-subscribe-button">
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
                                </div>
                            </div>
                            <ul class="social-list social-list-colored footer-social">
                                <li>
                                    <a href="#" target="_blank" id="footer-facebook" class="fa fa-facebook"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-facebook">Facebook</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-twitter" class="fa fa-twitter"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-twitter">Twitter</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-google" class="fa fa-google"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-google">Google</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-instagram" class="fa fa-instagram"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-instagram">Instagram</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-youtube" class="fa fa-youtube"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-youtube">Youtube</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-linkedin" class="fa fa-linkedin"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-linkedin">Linkedin</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-flickr" class="fa fa-flickr"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-flickr">Flickr</span>
                                </li>
                                <li>
                                    <a href="#" target="_blank" id="footer-rss" class="fa fa-rss"></a>
                                    <span class="mdl-tooltip mdl-tooltip--top" data-mdl-for="footer-rss">Rss</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End main Footer Section -->
            <!-- Start Copyright Section -->
            <div id="copyright">
                <div class="layer-stretch">
                    <div class="paragraph-medium paragraph-white">2017 © Pepdev ALL RIGHTS RESERVED.</div>
                </div>
            </div><!-- End of Copyright Section -->
        </footer><!-- End of Footer Section -->
    </div>

    <!-- **********Included Scripts*********** -->

    <!-- Jquery Library 2.1 JavaScript-->
    <script src="../assets/plugin/jquery/jquery-2.1.4.min.js"></script>
    <!-- Popper JavaScript-->
    <script src="../assets/plugin/popper/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="../assets/plugin/bootstrap/bootstrap.min.js"></script>
    <!-- Modernizr Core JavaScript-->
    <script src="../assets/plugin/modernizr/modernizr.js"></script>
    <!-- Animaateheading JavaScript-->
    <script src="../assets/plugin/animateheading/animateheading.js"></script>
    <!-- Material Design Lite JavaScript-->
    <script src="../assets/plugin/material/material.min.js"></script>
    <!-- Material Select Field Script -->
    <script src="../assets/plugin/material/mdl-selectfield.min.js"></script>
    <!-- Flexslider Plugin JavaScript-->
    <script src="../assets/plugin/flexslider/jquery.flexslider.min.js"></script>
    <!-- Owl Carousel Plugin JavaScript-->
    <script src="../assets/plugin/owl_carousel/owl.carousel.min.js"></script>
    <!-- Scrolltofixed Plugin JavaScript-->
    <script src="../assets/plugin/scrolltofixed/jquery-scrolltofixed.min.js"></script>
    <!-- Magnific Popup Plugin JavaScript-->
    <script src="../assets/plugin/magnific_popup/jquery.magnific-popup.min.js"></script>
    <!-- WayPoint Plugin JavaScript-->
    <script src="../assets/plugin/waypoints/jquery.waypoints.min.js"></script>
    <!-- CounterUp Plugin JavaScript-->
    <script src="../assets/plugin/counterup/jquery.counterup.js"></script>
    <!-- masonry Plugin JavaScript-->
    <script src="../assets/plugin/masonry_pkgd/masonry.pkgd.min.js"></script>
    <!-- SmoothScroll Plugin JavaScript-->
    <script src="../assets/plugin/smoothscroll/smoothscroll.min.js"></script>
    <!--Custom JavaScript-->
    <script src="../dist/js/custom.js"></script>
    
</body>
</html>