
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Board | Error 404</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="dist/css/style.css" />
</head>
<body>
    <!-- Page Wrapper -->
    <div class="notfound-wrapper">
        <h1 class="notfound-ttl">404</h1>
        <p class="notfound-tag-1">Page not found!!!</p>
        <span class="notfound-tag-2">what you're trying to visit does not exsir...</span>
        <div class="notfound-link">
            <a href="dashboard.html" class="btn btn-primary"><span>Go to Home</span><i class="fa fa-home"></i></a>
            <a href="#" class="btn btn-danger"><span>Report Problem</span><i class="fa fa-bug"></i></a>
        </div>
    </div>
    <!-- Include js files -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="assets/plugin/jquery/jquery-3.3.1.min.js"></script>
    <!-- Popper Plugin -->
    <script type="text/javascript" src="assets/plugin/popper/popper.min.js"></script>
    <!-- Bootstrap Framework -->
    <script type="text/javascript" src="assets/plugin/bootstrap/bootstrap.min.js"></script>
</body>
</html>